.right-anchor {
  --rightAnchorTextColor: red;
  --rightAnchorFontSize: 12px;
  /* Btn */
  --rightAnchorBtnTextColor: var(--rightAnchorTextColor);
  --rightAnchorBtnBgColor: #ccc;
  /* Menu */
  --rightAnchorMenuTextColor: var(--rightAnchorTextColor);

  &.customClass {
    display: block !important;
  }
}

.dark .right-anchor {
  --rightAnchorTextColor: yellow;
  --rightAnchorFontSize: 16px;
  /* Btn */
  --rightAnchorBtnTextColor: var(--rightAnchorTextColor);
  /* Menu */
  --rightAnchorMenuTextColor: var(--rightAnchorTextColor);
}
